@model DeleteUserViewModel

<h1>@Localizer["FilmCreate"]</h1>

<form asp-action="DeleteConfirmed" method="post">
    <!-- Add form fields for DeleteUserViewModel properties -->
    <!-- Example: -->
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>

    <div class="form-group">
        <label asp-for="UserName">@Localizer["Username"]</label>
        <input asp-for="UserName" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label asp-for="Email">@Localizer["Email"]</label>
        <input asp-for="Email" class="form-control" readonly />
    </div>

    <button type="submit" class="btn btn-danger">@Localizer["Delete"]</button>
</form>